{% extends 'myapp/base.html'%}

{% block content %}
<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">{{ request.site.siteconfig.top_title }}</h1><!-- sitemanage.py作ってサイト管理画面から変更できるように -->
  <h4 class="mb-3">{{ request.site.siteconfig.top_subtitle }}</h4><!-- sitemanage.py作ってサイト管理画面から変更できるように -->
</div>
<!-- Jumbotron -->
<div class="row row-cols-1 row-cols-md-3 g-4">

  {% for item in post_list %}
  <div class="col">
    <div class="card h-100">
      {% if item.thumbnail %}
      <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="{{ item.title }}" />
      {% else %}
      <img src="https://mdbootstrap.com/img/new/standard/city/044.jpg" class="card-img-top" alt="{{ item.title }}" />
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ item.title }}<small>{{ item.author }}</small></h4>
        <p>{{ item.category }}</p>
        <p class="card-text">{{ item.content| safe | truncatechars_html:30 }}</p><!--トランケートで30文字まで表示。あとは詳細ページで見てね-->
      </div>
      <a href="{% url 'myapp:post_detail' item.id %}" type="button" class="btn btn-primary">もっと読む</a>
    </div>
  </div>

  {% endfor %}

</div>
<!-- card -->
{% endblock %}
