{% extends 'myapp/base.html'%}

{% block content %}
<div class="row">

  <div class="col-md-9">
    <br>
    <div class="card">

      {% if object.thumbnail %}
      <img src="{{ object.thumbnail.url }}" class="card-img-top" alt="{{ object.title }}" />
      {% else %}
      <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="{{ object.title }}" />f
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.content | safe | linebreaksbr | urlize }}</p><!--↓これはpostのid-->
        <a class="btn" href="{% url 'myapp:like_add' object.pk %}" style="background-color:#FF6699; color:white;">お気に入りに追加</a>
        <hr>
        <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-dark">戻る</a>
        {% if object.author == request.user %}
        <a href="{% url 'myapp:post_update' object.pk %}" class="btn btn-primary">更新</a>
        <a href="{% url 'myapp:post_delete' object.pk %}" class="btn btn-danger">削除</a>
        {% endif%}
      </div>
    </div>
  </div>
  <div class="col-md-3">
      <br>
      <div class="card">
        <div class="card=body">
            <h5 class="card-title">{{ object.category }}</h5>
            <p>このカテゴリーの他の記事</p>
        </div>
        <ul class="list-group">
            {% for item in category_posts %}
            <li class="list-group-item"><a href="{% url 'myapp:post_detail' item.id %}">{{ item.title }}</a></li>
            {% endfor%}
        </ul>
      </div>
  </div>
  <br>
  <br>
</div>



{% endblock %}
