{% extends 'myapp/base.html'%}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <br>
        <h2>Signup</h2>
        <br>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                {{ field.errors }}
                <br>
            {% endfor %}

            <button type="sumbit" class="btn btn-primary">SignUp</button>
        </form>
        <br>
        <br>
    </div>


</div>


{% endblock %}
